<div class="w-full h-full flex justify-center items-center" >
    <div class="flex flex-wrap gap-4 justify-center">
        <a class="flex flex-col items-center border-2 w-72 h-36 md:w-40 md:h-16 justify-center rounded-md text-xl md:text-base" routerLink="/dashboard/lista-alumnos">
            <i class="bx bxs-user text-[3rem] md:text-[1.8rem]"></i>
            Lista Alumnos
        </a>
        <a class="flex flex-col items-center border-2 w-72 h-36 md:w-40 md:h-16 justify-center  rounded-md text-xl md:text-base" routerLink="/dashboard/lista-asistencias">
            <i class="bx bx-list-ul text-[3rem] md:text-[1.8rem]"></i>
            Lista Asistencia
        </a>
        <a class="flex flex-col items-center border-2 w-72 h-36 md:w-40 md:h-16 justify-center rounded-md text-xl md:text-base" routerLink="/dashboard/registrar-asistencias">
            <i class="bx bxs-user-check text-[3rem] md:text-[1.8rem]"></i>
            Registrar Asistencia
        </a>
    </div>
</div>
