<div id="default-carousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden md:h-[500px]">
         <!-- Item 1 -->
        <div class="hidden object-cover duration-700 ease-in-out" data-carousel-item>
            <img src="/banner/banner1.jpg" class="object-cover md:object-fill h-full inset-0 absolute block w-full  -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="/banner/banner2.jpg" class="object-cover md:object-fill h-full inset-0 absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="/banner/banner3.jpg" class="object-cover md:object-fill h-full inset-0 absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="/banner/banner4.jpg" class="object-cover md:object-fill h-full inset-0 absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="/banner/banner5.jpg" class="object-cover md:object-fill h-full inset-0 absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-600/80 group-hover:bg-gray-800/40 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-600/80 group-hover:bg-gray-800/40 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>

<section class="flex flex-col items-center py-6">
    <p class="text-4xl font-extrabold text-center text-red-800">BIENVENIDO AL COLEGIO PARAISO FLORIDO</p>
    <p class="text-2xl font-medium text-gray-500">Tu educación, nuestra misión</p>
</section>

<app-mision-vision/>

<section class="text-gray-600 body-font relative">
  <div class="container px-5 py-10 md:px-0 mx-auto flex sm:flex-nowrap flex-wrap">
    <div
      class="md:w-1/2 bg-gray-300 rounded-lg overflow-hidden sm:mr-10 shadow-md flex flex-col items-end justify-start relative"
    >
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d820.4632741501772!2d-77.10118335651866!3d-11.988125504114745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105ce77f1ffdafb%3A0x7076005444ecee98!2sInstituci%C3%B3n%20Educativa%203082%20Para%C3%ADso%20Florido!5e0!3m2!1ses-419!2spe!4v1728072592986!5m2!1ses-419!2spe"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="w-full h-96 md:h-full"
      ></iframe>
      <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md w-full">
        <div class="lg:w-1/2 px-6">
          <h2
            class="title-font font-semibold text-gray-900 tracking-widest text-xs"
          >
            DIRECCION
          </h2>
          <p class="mt-1">
            Av. Canta Callao 2500, Lima 15109
          </p>
        </div>
        <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
          <h2
            class="title-font font-semibold text-gray-900 tracking-widest text-xs"
          >
            CORREO
          </h2>
          <a class=" leading-relaxed">{{
            "colegioparisoflorido@email.com"
          }}</a>
          <h2
            class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4"
          >
            TELÉFONO
          </h2>
          <p class="leading-relaxed">123-456-7890</p>
        </div>
      </div>
    </div>
    <div
      class=" bg-white flex flex-col md:ml-auto  md:py-8 mt-8 md:mt-0"
    >
      <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">
        Datos del padre de familia
      </h2>
      <form [formGroup]="form" (ngSubmit)="registrarPadre()" class="flex flex-wrap max-w-xl justify-between">
        <div class="relative mb-4 flex flex-col w-full md:w-auto">
          <label for="name" class="leading-7 text-sm text-gray-600"
            >Nombres:</label
          >
          <input
            type="text"
            id="nombre"
            formControlName="nombre"
            name="nombre"
            class="w-full md:w-64 bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            placeholder="Nombres"
          />
          @if (form.get("nombre")?.invalid && form.get("nombre")?.touched) {
            @if( form.get("nombre")?.hasError("required") ){
              <small class="text-red-500">El nombre es obligatorio</small>
            }
          }
        </div>
        <div class="relative mb-4 flex flex-col w-full md:w-auto">
          <label for="middlename" class="leading-7 text-sm text-gray-600"
            >Apellidos:</label
          >
          <input
            type="text"
            id="apellido"
            name="apellido"
            formControlName="apellido"
            placeholder="Apellidos"
            class="w-full md:w-64 bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
          @if (form.get("apellido")?.invalid && form.get("apellido")?.touched) {
            @if( form.get("apellido")?.hasError("required") ){
              <small class="text-red-500">Los apellidos son obligatorios</small>
            }
          }
        </div>
        <div class="relative mb-4 flex flex-col w-full md:w-auto">
          <label for="correo" class="leading-7 text-sm text-gray-600"
            >Correo:</label
          >
          <input
            type="email"
            id="correo"
            name="correo"
            formControlName="correo"
            placeholder="Correo Electrónico"
            class="w-full md:w-64 bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
          @if (form.get("correo")?.invalid && form.get("correo")?.touched) {
            @if( form.get("correo")?.hasError("required") ){
              <small class="text-red-500">El correo es obligatorio</small>
            }
            @if( form.get("correo")?.hasError("email") ){
              <small class="text-red-500">El correo no es valido</small>
            }
          }
        </div>
        <div class="relative mb-4 flex flex-col w-full md:w-auto">
          <label for="telefono" class="leading-7 text-sm text-gray-600"
            >Teléfono:</label
          >
          <input
            type="tel"
            id="telefono"
            name="telefono"
            formControlName="telefono"
            placeholder="Teléfono"
            class="w-full md:w-64 bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
          @if (form.get("telefono")?.invalid && form.get("telefono")?.touched) {
            @if( form.get("telefono")?.hasError("required") ){
              <small class="text-red-500">El teléfono es obligatorio</small>
            }
            @if( form.get("telefono")?.hasError("minlength") ){
              <small class="text-red-500">Número de telefono invalido</small>
            }
            @if( form.get("telefono")?.hasError("maxlength") ){
              <small class="text-red-500">Número de telefono invalido</small>
            }
          }
        </div>
        <div class="relative mb-4 flex flex-col w-full md:w-auto">
          <label for="t_documento" class="leading-7 text-sm text-gray-600"
            >Tipo de documento:</label
          >
          <select
            id="t_documento"
            name="t_documento"
            formControlName="t_documento"
            class="w-full md:w-64 bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          >
            <option value="DNI">Dni</option>
            <option value="CE">Carnet de extranjeria</option>
          </select>
        </div>
        <div class="relative mb-4 flex flex-col w-full md:w-auto">
          <label for="documento" class="leading-7 text-sm text-gray-600"
            >Número de documento:</label
          >
          <input
            type="text"
            id="documento"
            name="documento"
            placeholder="Número de documento"
            formControlName="documento"
            class="w-full md:w-64 bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
          @if (form.get("documento")?.invalid && form.get("documento")?.touched) {
            @if( form.get("documento")?.hasError("required") ){
              <small class="text-red-500">El número de documento es obligatorio</small>
            }
            @if( form.get("documento")?.hasError("minlength") ){
              <small class="text-red-500">Número de documento invalido</small>
            }
            @if( form.get("documento")?.hasError("maxlength") ){
              <small class="text-red-500">Número de documento invalido</small>
            }
          }
        </div>
        <div class="relative mb-4 flex flex-col w-full md:w-auto">
          <label for="grado" class="leading-7 text-sm text-gray-600"
            >Grado de Interés:</label
          >
          <select
            id="grado"
            name="grado"
            formControlName="grado"
            class="w-full md:w-64 bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          >
            <option value=1>1ero Secundaria</option>
            <option value=2>2do Secundaria</option>
            <option value=3>3ero Secundaria</option>
            <option value=4>4to Secundaria</option>
            <option value=5>5to Secundaria</option>
          </select>
        </div>
        <div class="relative mb-4 flex flex-col w-full md:w-auto">
          <label for="turno" class="leading-7 text-sm text-gray-600"
            >Turno de Interés:</label
          >
          <select
            id="turno"
            name="turno"
            formControlName="turno"
            class="w-full md:w-64 bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          >
            <option value="Mañana">Mañana</option>
            <option value="Tarde">Tarde</option>
          </select>
        </div>
        <button
        type="submit"
        class="text-white w-full bg-red-800 border-0 py-2 px-6 focus:outline-none hover:bg-red-900 rounded text-lg "
        >
          Solicitar Información
        </button>
      </form>
    </div>
  </div>
  <app-wsp-contact/>
</section>
