<main class="flex flex-col items-center h-full">
    <h1 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-red-800 md:text-4xl">Crear Alumno</h1>
    <form  class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
        <div class="flex flex-col">
            <label for="nombre" class="text-sm font-semibold text-gray-600">Nombre</label>
            <input formControlName="nombre" type="text" id="nombre" name="nombre" class="w-full px-4 py-2 mt-2 border rounded-lg text-gray-700 focus:outline-none focus:border-red-500" placeholder="Nombre del alumno" required>
            
        </div>
        <div class="flex flex-col">
            <label for="apellido" class="text-sm font-semibold text-gray-600">Apellido</label>
            <input type="text" id="apellido" name="apellido" class="w-full px-4 py-2 mt-2 border rounded-lg text-gray-700 focus:outline-none focus:border-red-500" placeholder="Apellido del alumno" required>
        </div>
        <div class="flex flex-col">
            <label for="edad" class="text-sm font-semibold text-gray-600">Edad</label>
            <input type="number" id="edad" name="edad" class="w-full px-4 py-2 mt-2 border rounded-lg text-gray-700 focus:outline-none focus:border-red-500" placeholder="Edad del alumno" required>
        </div>
        <div class="flex flex-col">
            <label for="grado" class="text-sm font-semibold text-gray-600">Grado</label>
            <input type="text" id="grado" name="grado" class="w-full px-4 py-2 mt-2 border rounded-lg text-gray-700 focus:outline-none focus:border-red-500" placeholder="Grado del alumno" required>
        </div>
        <div class="flex flex-col">
            <label for="seccion" class="text-sm font-semibold text-gray-600">Sección</label>
            <input type="text" id="seccion" name="seccion" class="w-full px-4 py-2 mt-2 border rounded-lg text-gray-700 focus:outline-none focus:border-red-500" placeholder="Sección del alumno" required>
        </div>
        <div class="flex flex-col">
            <label for="direccion" class="text-sm font-semibold text-gray-600">Dirección</label>
            <input type="text" id="direccion" name="direccion" class="w-full px-4 py-2 mt-2 border rounded-lg text-gray-700 focus:outline-none focus:border-red-500" placeholder="Dirección del alumno" required>
        </div>
        <div class="flex flex-col">
            <label for="documento" class="text-sm font-semibold text-gray-600">Documento</label>
            <input type="text" id="documento" name="documento" class="w-full px-4 py-2 mt-2 border rounded-lg text-gray-700 focus:outline-none focus:border-red-500" placeholder="Documento del alumno" required>
        </div>
        <div class="flex flex-col">
            <label for="sexo" class="text-sm font-semibold text-gray-600">Sexo</label>
            <select id="sexo" name="sexo" class="w-full px-4 py-2 mt-2 border rounded-lg text-gray-700 focus:outline-none focus:border-red-500" required>
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
            </select>
        </div>
        <div class="flex flex-col">
            <label for="fechaNacimiento" class="text-sm font-semibold text-gray-600">Fecha de Nacimiento</label>
            <input type="date" id="fechaNacimiento" name="fechaNacimiento" class="w-full px-4 py-2 mt-2 border rounded-lg text-gray-700 focus:outline-none focus:border-red-500" required>
        </div>
    </form>
    <button type="submit"  class="flex bg-red-800 justify-center w-full rounded-md text-white py-2 mt-4">
        Añadir Alumno
    </button>
</main>
