<div id="carouselExample" class="relative" data-carousel="slide">
    <!-- Slides -->
    <div class="relative h-56 overflow-hidden md:h-[600px]">
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="https://4.bp.blogspot.com/-cYEK56Zm_gM/WiF_kFwW5hI/AAAAAAAApjE/WLusYicZn9gdcllGm94FabQqu1sZ6bxdwCEwYBhgL/s1600/IMG-20171201-WA0013.jpg" class="block w-full" alt="Image 1">
      </div>
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="https://scontent.flim15-2.fna.fbcdn.net/v/t39.30808-6/458090540_1040572970937449_6208968593294293119_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHedlfgxtmh-GvwB8-cQJN5DIPZ6NrvMQoMg9no2u8xCg1zDgEJahSOX9EWlBmudo_d0HhBv8_ctleMjKZHWBp8&_nc_ohc=jXxZxabu3H0Q7kNvgHdBQ6O&_nc_ht=scontent.flim15-2.fna&oh=00_AYBDyc5xuBhQkmY_RoCV_-iXzP8yYXBwKMX_jUwGdRb_7Q&oe=66FB7166" class="block w-full" alt="Image 2">
      </div>
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="https://scontent.flim25-1.fna.fbcdn.net/v/t39.30808-6/451865042_1011981093796637_758968349821185510_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHQqznC1e7i0BJki-osnC2JCXR5_nlYUu0JdHn-eVhS7dP0buhKtIouyBjZoqdsUVEPvKMhfbjRkwEXlZ1T7kDy&_nc_ohc=oQBLM2wBqfcQ7kNvgFQnR4T&_nc_ht=scontent.flim25-1.fna&_nc_gid=A03yyuuOorAa_kCXTy9DQ6Z&oh=00_AYBeBEEI7Un5sJc_H3-2cZmrb4GprVj_g0ZLOiXoAZNzmQ&oe=66FB6891" class="block w-full" alt="Image 3">
      </div>
    </div>
  
    <!-- Controls -->
    <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60 dark:group-focus:ring-gray-800">
        <svg aria-hidden="true" class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60 dark:group-focus:ring-gray-800">
        <svg aria-hidden="true" class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
  
